@import './variables.scss';

:global(.visuallyHidden) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:global(.mainWrap) {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  background-color: $content-block-color;
}

:global(.form) {
  display: flex;
  flex-direction: column;
}

:global(.field) {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;

  border: 2px solid $base-color;

  &::placeholder {
    color: lighten($main-text-color, 65);
  }

  &:hover,
  &:focus {
    border-color: $hovered-base-color;
    outline: none;

  }
}

:global(.button) {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;

  color: $main-button-text-color;
  background-color: $main-button-bg-color;

  &:hover,
  &:focus {
    background-color: $hovered-main-button-bg-color;
    outline: none;
  }

  &:active {
    background-color: $active-main-button-bg-color;
  }
}